*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: black;
}

.container{
    position: relative;
    height: 60vh;
    width: 100vw;
    top: 15vh;
    background-color: rgb(57, 69, 78);
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1{
    color: white;
    margin-right: 100px;
}

div ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

div ul li a{
    color: white;
    text-decoration: none;
}

img{
    position: absolute;
    height: 80vh;
    width: 28vw;
    top: -65px;
    margin-left: 80px;
}

.sub{
    height: 60vh;
    width: 40vw;
    margin-left: 50vw;
    color: black;
}

.ara{
    position: absolute;
    top: 10%;
    width: 40vw;
}

div span{
    font-size: 2em;
}

div p{
    font-size: 1.05em;
    line-height: 15px;
    margin-top: 20px;
}

button{
    padding: 8px 14px;
    font-size: 1.2em;
    background-color: #4681f4;
    border-style: none;
    border-radius: 8px;
}